        h1{
            font-size: 65px;
            color: orange;       
            font-family: sans-serif;
            line-height: 80px;
            text-align: center;
        }
        
        .list-style {
            background-color: blue;
            font-style: oblique;
        }


            p{
                 font-weight: 600;
                 font-size: 3em;            
                }
    
        body{
        font-size: 16px;
        background-color: blueviolet
    }

    
    ul{
        text-decoration: underline;
        font-style: italic;
    }
        #am {
            background-color: yellow;
        }

        #ver {
            background-color: red;
        }

        #mar {
            background-color: brown;
        }
